.div_principal {
  display: flex;
  background-color: #534cc0;
  margin: 15px;
  padding: 10px;
}

.a4-page {
  width: 794px;    
  height: 1123px;  
  margin: 5px auto;  
  padding: 10px;    
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: white;
  font-family: 'Montserrat';
}

.grid_titulo {
  text-align: center;
  margin-top: 15px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 fotos por linha */
  gap: 6px; /* pouco espaço */
  padding: 10px;
}

.image-item {
  position: relative;
  text-align: center;
}

.image-item img {
  width: 90%;
  height: auto;
  border: 1px solid #ccc;
  padding: 1px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.image-item p {
  font-size: 11px;
  margin: 0;
  margin-bottom: 2px;
}

.small-square {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 14px;
  height: 14px;
  border: 2px solid black;
  background-color: white;
  z-index: 2;
}

/* Formulários */
.Form {
  display: block;
  max-width: 600px;
  margin: 10px auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
  text-align: center;
}

.Form input[type="text"] {
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.Form input[type="file"] {
  margin: 10px 0;
}

.Form button {
  background-color: black;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
  width: 160px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
}
